/* ! stile base */

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 p {
    color: #000;
    padding-bottom: 30px
}

.big-text {
    font-size: 70px;
    font-weight: 900;
}

.med-text {
    font-size: 40px;
}

.normal-text {
    font-size: 20px;
}

.small-text {
    font-size: 14px;
}

.intro-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.button {
    padding: 18px 28px;
    background: #316bff;
    color: #fff;
    display: inline-block;
    border-radius: 4px
}


@media (max-width: 768px) {

    .big-text {
        font-size: 40px;
    }

}


/* ! Header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    background: #000;
}


/* ! hero */

.hero-organica {
    height: 350px;
    display: flex;
    width: 100%;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 70.71%), url('../assets/images-indici/alberi-organica-image.jpg') no-repeat center center;
    background-size: cover;
}

.hero-anatomia {
    height: 350px;
    display: flex;
    width: 100%;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 70.71%), url('../assets/images-indici/anatomia-image.jpg') no-repeat center center;
    background-size: cover;
}

.hero-microbiologia {
    height: 350px;
    display: flex;
    width: 100%;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 70.71%), url('../assets/images-indici/micro.jpg') no-repeat center center;
    background-size: cover;
}

.hero-letteratura {
    height: 350px;
    display: flex;
    width: 100%;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 70.71%), url('../assets/images-indici/letteratura.jpg') no-repeat bottom;
    background-size: cover;
}

.hero-storia {
    height: 350px;
    display: flex;
    width: 100%;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 70.71%), url('../assets/images-indici/storia.jpg') no-repeat center center;
    background-size: cover;
}

.hero-matematica {
    height: 350px;
    display: flex;
    width: 100%;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 70.71%), url('../assets/images-indici/matematica.jpg') no-repeat center center;
    background-size: cover;
}

.hero-analitica {
    height: 350px;
    display: flex;
    width: 100%;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 70.71%), url('../assets/images-indici/analitica.jpg') no-repeat bottom;
    background-size: cover;
}


/* ! hero content */

.hero__content {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.hero__content h1,
.hero__content p {
    color: #fff;
}


/* ! menu nav bar */

/* Add a black background color to the top navigation */
.menu {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.menu a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.menu a.active {
    background-color: #4CAF50;
    color: white;
}


/* ! Grid System */

/* ! tabella */


/* ! griglia */


/* ! box */


/* ! colore numeri */

/*
con #item referenzio quell'unico item (#lezione1, #lezione2, ... sono univoci)
con .item referenzio una classe di items (.classe posso usarla su più items)
 */

.item-lezione a span {
    color: red
}


/* Home Page Styles BEGIN */
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

/* Home Page Styles END */

/* ! helpers */

.mt-1 {
    margin-top: 50px;
}

.mt-2 {
    margin-top: 100px;
}

.mt-3 {
    margin-top: 150px;
}

.tw {
    color: #fff
}

ul {
    list-style-type: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
