/* ! stile base */

body{font-family: 'Inter', sans-serif;font-size: 16px;}

a{text-decoration: none;}

h1, h2, h3, h4, h5 p{color: #000; padding-bottom: 30px}

.big-text{font-size: 70px;font-weight: 900;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}

.intro-text{text-transform: uppercase;font-size: 20px;font-weight: bold;}

.button{padding: 18px 28px; background: #316bff; color: #fff; display: inline-block;border-radius: 4px}


@media (max-width: 768px) {

  .big-text{font-size: 40px;}

}


/* ! Header */

.header{
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  padding: 30px;
  display: flex;
  background: #000;
}


/* ! hero */

.hero{
  height: 350px;
  display: flex; width: 100%; align-items: center;
  background: linear-gradient(0deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 70.71%), url('alberi.jpg') no-repeat center center;
  background-size: cover;
}

.hero__content{
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.hero__content h1,
.hero__content p{color: #fff;}


/* Add a black background color to the top navigation */
.menu {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.menu a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.menu a.active {
  background-color: #4CAF50;
  color: white;
}








/* ! Grid System */
/*
.grid{display: flex; max-width: 1350px; padding: 0 30px; margin: 0 auto; border: 1px solid red;}
.grid .col{width: 100%}

@media (max-width: 768px) {
  .grid{flex-wrap: wrap;}
}
*/






/* ! griglia */

.grid{
  box-sizing: border-box;
  display: flex;
  float: none;
  line-height: 35px;
  position: static;
  z-index: auto;
  text-align: left;
  max-width: 1350px;
  padding: 0 30px;
  margin: 0 auto;
  border: 1px solid red;
}

.grid .colonna-laboratorio{width: 100%}
.grid .colonna-teoria{width: 100%}

.grid .colonna-teoria .span{text-align: center;}
/*.colonna-laboratorio{text-align: center;}*/
/*.colonna-teoria .med-text{text-align: center;}*/


/* ! box */

* {
  box-sizing: border-box
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  grid-column-gap: 0.5rem;
  overflow: hidden;
  position: relative;
}

.item {
  position: relative;
}

.item:before {
  content: "";
  position: absolute;
  top: 0;
  right: -0.25rem;
  height: 100vh;
  width: 1px;
  background: black;
}

.box {
  background-color: pink;
  height: 2rem;
  margin: 0.5rem;
}


/* ! colore numeri */

#lezione1 a span{
  color: red;
}
#lezione2 a span{
  color: red;
}
#lezione3 a span{
  color: red;
}
#lezione4 a span{
  color: red;
}
#lezione5 a span{
  color: red;
}
#lezione6 a span{
  color: red;
}
#lezione7 a span{
  color: red;
}
#lezione8 a span{
  color: red;
}
#lezione9 a span{
  color: red;
}


/* ! helpers */

.mt-1{margin-top: 50px;}
.mt-2{margin-top: 100px;}
.mt-3{margin-top: 150px;}
.tw{color: #fff}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
